<%- include('partials/header.ejs') %>
<h2>Landing Page!</h2>
<p>Welcome to GracePrints</p>
<div>
    <img src = '/images/index.jpeg'>
</div>

<a href='/print'> View All prints</a>

<%- include('partials/footer.ejs') %>